@import '../variables/variables.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}


